/* !Centralizzazione Globale */
:root {
    --dimensioni-contenitori: 1000px;
    --dimensioni-contenuto-principale-large: 60%; 
    --dimensioni-contenuto-principale-small: 40%;
}

/* !Reset del Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}

/* Carattere scritta */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* !Utility */
.flex {
    display: flex;
}

/* 3 Sezioni */
.container {
    margin:30px 0;
    align-items: center;
    justify-content: center;
}

/* Tolgo sottolineatura ai link */
a {
    text-decoration: none;
}

/* Colore testo bianco */
.color-white {
    color: rgb(255, 255, 255);
}

/* Colore testo nero */
.color-black {
    color: rgb(0, 0, 0);
}

/* Contenitore link */
.box-link {
    padding: 10px;
    border-radius: 20px;
}

/* colore sfondo bianco */
.back-white {
    background-color: rgb(255, 255, 255);
}

/* Genitore Header */
.main-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* Figlio Primario del Header e padre dei LINK */
.container-nav {
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    height: 80px;
}

/* Logo */
.logo {
    height: 30px;
}

/* Figli del contenitore Nav Primario */
.items-link {
    justify-content: center;
    gap: 30px;
}

/* larghezza Piccola */
.small {
    width: 25%;
}

/* Larghezza Grande */
.large {
    width: 50%;
}

/* Foglio secondoario Header */
.items-home {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

/* Figli della genitore .item-home */
h1 {
    font-size: 50px;
    padding-top: 50px;
}

/* Paragrafo Header */
.home-paragraph {
    padding-top: 15px;
    margin-bottom: 25px;
}

/* Genitore dei Link di Download */
.container-nav-secondary {
    padding-bottom: 50px;
}

/* Figli della Nav Secondary */
.arrow {
    margin: 5px;
}

/* Link download Primario */
.download {
    background-color: rgb(255, 255, 255);
    margin: 5px;
}

/* Link download Secondary */
.download-discord {
    background-color: rgb(35,39,42);
    margin: 5px;
}

/* Genitore flex Space */
.flex-container-space{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--dimensioni-contenitori);
}

/* Testo delle Sezioni */
.text-start {
    text-align: start;
    font-size: 40px;
}

/* Paragrafo delle Sezioni */
.paragraph {
    margin-top: 20px;
    text-align: start;
}

/* contenitore del testo */
.text-small {
    width: var(--dimensioni-contenuto-principale-small);
}

/* Contenitore Be */
.container-be {
    padding:30px 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(211,211,211);
}

/* Genitore flex Be */
.flex-container-be{
    display: flex;
    align-items: center;
    max-width: var(--dimensioni-contenitori);
}

/* Genitore flex Fandom */
.flex-container-fandom{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--dimensioni-contenitori);
}

/* Geniotre flex contact */
.flex-container-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211,211,211);
    padding: 50px 0;
}

/* Figlio diretto di .flex-container-contact */
.flex-items-contact {
    width: var(--dimensioni-contenitori);
    text-align: center;
}

/* Testo conteiner contatto */
.text-center {
    font-size: 40px;
}

/* Titolo del container contatto */
h3 {
    font-size: 30px;
    background-image: url(../img/stars.svg);
    margin-bottom: 40px;
}

/* Colore del link */
.back-blu {
    background-color: rgb(142,161,225);  
}

/* Genitore Footer */
.main-footer {
    background-color: rgb(35,39,42);
}

/* Figlio del Genitore Footer e Padre dei item-resources*/
.flex-container-resources {
    display: flex;
    max-width: var(--dimensioni-contenitori);
    margin: 0 auto;
    padding: 50px 0;
}

/* Titolo del footer */
h4 {
    font-size: 30px;
    color: rgb(142,161,225);
}

/* Selezione di Nazionalità */
#dropdown {
    background-color: rgb(35,39,42);
    color: rgb(255, 255, 255);
    border: rgb(35,39,42);
    padding: 3px;
    margin: 10px 0;
}

/* Icone */
.fa-brands {
    padding: 5px;
}

/* Dimnesione del container a sinistra */
.large-resources {
    width: 40%;  
}

/* Dimensione dei container in linea */
.small-resources {
    width: 15%;
}

/* Colore dei titili dei link*/
.title-link {
    color: rgb(142,161,225);
}

/* Figlio secondary del footer */
.flex-container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--dimensioni-contenitori);
    margin: 0 auto;
    border-top: 2px solid rgb(255, 255, 255);
    padding: 50px 0;
}

